body {
    background-color: #0d0627;
    margin: 0;
}
h1, h2, h3, p, a{
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
i {
    color: #949494;
}
.section {
    box-sizing: border-box;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}
.little {
    height: auto;
}
a {
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 3px 7px cyan;
    -webkit-tap-highlight-color: transparent;
}
a:active {
    transform: translate(4px, 3px);
    box-shadow: 0 0 6px cyan inset;
}
input {
    width: 3.5em;
    font-size: 2em;
    text-align: center;
    border-radius: 5px;
}
span {
    font-size: 2em;
}